<div class="page-header">
  <h1>{{ page.title }} <small>Supporting tagline</small></h1>
</div>

<div class="row">
  <div class="span8">
    {{ content }}
    <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>
    <hr>
    {% include JB/comments %}
  </div>
  <div class="span4">
    <iframe width="300" height="90" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=300&height=90&fansRow=1&ptype=0&speed=0&skin=1&isTitle=0&noborder=1&isWeibo=0&isFans=0&uid=2486823240&verifier=f1607a6f&colors=d6f3f7,ffffff,666666,0082cb,ecfbfd&dpc=1"></iframe>
  <hr>
  <h4>Published</h4>
  <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>
  {% unless page.tags == empty %}

  <hr>
  <h4>Tags</h4>
  <ul class="tag_box">
  {% assign tags_list = page.tags %}
  {% include JB/tags_list %}
  </ul>
  {% endunless %}  
  </div>
</div>
